.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: min-content auto;
    height: 100vh;
  }

.left-components {
  grid-column : 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
}

.center-components {
  grid-column : 2 / span 1;
  grid-row: 1 / span 2;
}

.right-components {
  grid-column : 1 / span 1;
  grid-row: 2 / span 1;
}