.network {
 
}

.reset {
  position:fixed;
  bottom:0.5em;
  right:0.5em;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.helpImage {
  width: 60%;
  display: 'block';
  margin-bottom: 1em;
  margin-right: 0.55em;
}

.hint {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  variant: h6;
  color: text-secondary
}
